.visually-hidden, .skip, button, nav, .more-link, .mejs-container, .comments-area, .comment-respond, .comment-separator, .comments-link, aside, footer {
    display: none;
}

html {
    padding: 0;
}
body {
    border-radius: 10px;
    box-shadow: 0px 0px 0px 12px rgb( 255 255 255 / 40% );
    color: #222;
    font-family: 'Outfit', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.4;
}

#header-container > div {
    border-bottom: 1px solid #222;
    display: flex;
    margin-bottom: 20px;
}
#header-container > div > a {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 15px 0;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
#header-container > div > a > * {
    display: flex;
}
#header-container #name {
    align-items: flex-end;
    font-family: 'Merriweather', serif;
    font-size: 2em;
    margin: 0 10px 0 auto;
}

article figure{
    margin: 0 0 20px;
    max-width: 100% !important;
}
article img {
    box-sizing: border-box;
    height: auto;
    width: 100%;
}
article span.wp-caption-text {
    display: block;
    margin-top: -10px;
    padding: 10px;
    text-align: center;
}

header h1, header h2 {
    font-family: 'Merriweather', serif;
    font-weight: 300;
}
h3 {
    font-weight: 300;
}
h1 a, h2 a, h3 a {
    text-decoration: none;
}
blockquote {
    border-left: 5px solid #cccd;
    padding-left: 15px;
    margin-left: 10px;
}
cite {
    font-style: normal;
}
.entry a::after{
    color: #888;
    content: " [" attr(href) "]";
    word-break: break-all;
}