/* 2.3 Sidebar */
#search-form {
    display: flex;
}
#search-field {
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    font-size: 1.1em;
    font-weight: 300;
    padding: 12px 10px;
    width: 100%;
}
#search-field::placeholder {
    color: #555;
}
#search-button {
    align-items: center;
    background: none;
    border: 0;
    display: flex;
    margin-left: -20px;
    padding: 0;
    width: 20px;
    z-index: 10;
}
#search-button svg {
    position: relative;
    left: -10px;
}


/* 2.4 Pagination */
#pagination {
    flex-basis: 100%;
}
#pagination ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
}
.pagination-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-right-width: 0;
    list-style: none;
}
.pagination-item:last-child {
    border-right-width: 1px;
}
.pagination-item a,
.pagination-item i,
.pagination-item span {
    display: block;
    height: 1.3em;
    padding: 10px 15px;
    min-width: 1em;
    text-align: center  ;
    text-decoration: none;
}
.pagination-item span.current {
    text-shadow: 0 0 2px #222;
}
.pagination-item.previous-page {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.pagination-item.next-page {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.pagination-item.previous-page a,
.pagination-item.previous-page i,
.pagination-item.next-page a,
.pagination-item.next-page i {
    position: relative;
    width: 25px;
}
.pagination-item.previous-page a::before,
.pagination-item.previous-page i::before,
.pagination-item.next-page a::before,
.pagination-item.next-page i::before {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 16px solid #464646;
    content: '';
    display: block;
    left: 20px;
    position: absolute;
    top: 15px;
}
.pagination-item.next-page a::before,
.pagination-item.next-page i::before {
    transform: rotate(180deg);
}
.pagination-item.previous-page i:before,
.pagination-item.next-page i::before {
    border-right-color: #aaa;
}

/* 2.5 Footer */
footer > * {
    border-right: 1px solid #444;
    flex: 1;
    font-size: 0.9em;
    margin-right: 15px;
    padding-right: 15px;
}
footer > *:last-child {
    border-right: 0;
    padding-right: 0;
}
footer ul {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
}
footer li {
    margin-bottom: 10px;
}
footer p {
    margin-bottom: 0;
}
footer a, footer a:visited, footer a:active {
    text-decoration: none;
    color: #7cd8cf !important;
}
footer a:hover, footer a:focus, footer a:focus-visible {
    text-shadow: 0 0 1px #fff;
}
