// Table of Contents
// ------------------------------------------------
//	1.1. Borders
//	1.2. Colors
//	1.3. FontAwesome
//	1.4. Typography
//

// 1. Base colors
// ------------------------------------------------
$text: #ff0000;
$links: #00ff00;
$border: #0000ff;

// 2. Monthly colors
// ------------------------------------------------
$months: (
    ( "january", "repeat-x fixed 0 0 #000", "#560bad" ),
    ( "february", "repeat fixed center 0 #786960", "#721620" ),
    ( "march", "repeat fixed 0 0 #332874", "#443796" ),
    ( "april", "repeat fixed center 0 #413D3D", "#2c3d1d" ),
    ( "may", "repeat fixed center 0 #0d6f00", "#4f7101" ),
    ( "june", "repeat fixed center 0 #040001", "#6494c0" ),
    ( "july", "no-repeat fixed center 0 #f2dfb7", "#002868" ),
    ( "august", "repeat fixed 150px center #fecc59", "#22868e" ),
    ( "september", "repeat fixed center 0 #ac4900", "#994000" ),
    ( "october", "repeat fixed center 0 #000000", "#dd801d" ),
    ( "november", "repeat fixed center 0 #2d1a0b", "#664438" ),
    ( "december", "repeat fixed 0 0 #711517", "#c80000" )
);