// Table of Contents
// ------------------------------------------------
//	1. Media query selector
//	2. Styles for links (wikipedia, external, PDFs)
// ------------------------------------------------

// 1. Media query selector
// ------------------------------------------------
@mixin media-query( $breakpoint: "large" ) {
    @if $breakpoint == "large" {
        @media only screen and ( min-width: 1025px ) { @content; }
    }
    @else if $breakpoint == "tablet" {
        @media only screen and ( min-width: 768px ) { @content; }
    }
    @else if $breakpoint == "tablet-max" {
        @media only screen and ( max-width: 1200px ) { @content; }
    }
    @else if $breakpoint == "print" {
        @media only print { @content; }
    }
    @else {
        @media only screen and ( max-width: 1024px ) { @content; }
    }
}

// 2. Styles for links (wikipedia, external, PDFs)
// ------------------------------------------------
@mixin external-links {
    a.external::before {
        content: $icon-external-link;
        margin: 0 5px 0 2px;
        opacity: 0.5;
    }
    a.pdf::before {
        content: $icon-pdf-link;
        margin: 0 4px 0 2px;
        opacity: 0.5;
    }
    a.wikipedia::before {
        content: $icon-wikipedia-link;
        margin: 0 5px 0 2px;
        opacity: 0.5;
    }
}