// Table of Contents
// ------------------------------------------------
// 1. Global variables
//  1.1 Breakpoints
//  1.2 Box model
//  1.3 Body background
//  1.4 Borders and shadows
//  1.5 Colors
//  1.6 Typography
//  1.7 Icons
//  1.8 Misc
// 2. Months
// 3. Dark mode
//  3.1 Colors
//  3.2 Months
// ------------------------------------------------

$assets: '/content/themes/duechiacchiere/assets';

:root{
    // 1. Global variables

    // 1.1 Breakpoints (single source of truth - see mixins.scss)
    --bp-mobile-max: #{$bp-mobile-max};
    --bp-tablet-min: #{$bp-tablet-min};
    --bp-large-min: #{$bp-large-min};
    --bp-tablet-max: #{$bp-tablet-max};

    // 1.2 Box model
    --gap-xs: 5px;
    --gap-sm: 10px;
    --gap-md: 15px;
    --gap-lg: 20px;
    --gap-xl: 40px;

    // 1.3 Body background
    --body-bg-color: #1e2046;
    --body-bg-image: url('#{$assets}/img/bg/jan.webp');
    --body-bg-opacity: 0;
    --body-bg-position: center 0;
    --body-bg-repeat: repeat;
    --body-bg-size: contain;

    // 1.4 Borders and shadows
    --border: 1px solid;
    --border-radius: 7px;
    --color-border: #D0D0CF;
    --color-border-text: #333;

    // 1.5 Colors
    --color-bg-code: #222;
    --color-bg-container: rgba( 255, 255, 255, 0.99 );
    --color-bg-field: #fff;

    --color-abbr: #d94516;
    --color-code: #ddd;
    --color-link: #1b0bad;
    --color-svg: invert(15%) sepia(61%) saturate(7137%) hue-rotate(249deg) brightness(65%) contrast(122%); // SVG Filter Calculator: https://codepen.io/sosuke/pen/Pjoqqp
    --color-svg-inverse: invert(100%) sepia(15%) saturate(7%) hue-rotate(133deg) brightness(113%) contrast(99%);
    --color-text: #333;
    --color-white: #fff;

    // 1.6 Typography
    --font-size-xs: .9rem;
    --font-size-sm: 1rem;
    --font-size-md: 1.2rem;
    --font-size-lg: 1.4rem;
    --font-size-xl: 1.7rem;

    @include media-query( large ) {
        --font-size-xl: 1.9rem;
    }

    // 1.7 Icons - https://www.svgbackgrounds.com/tools/svg-to-css/
    --icon-angle-right: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M5.29289,3.70711 C4.90237,3.31658 4.90237,2.68342 5.29289,2.29289 C5.68342,1.90237 6.31658,1.90237 6.70711,2.29289 L11.7071,7.29289 C12.0976,7.68342 12.0976,8.31658 11.7071,8.70711 L6.70711,13.7071 C6.31658,14.0976 5.68342,14.0976 5.29289,13.7071 C4.90237,13.3166 4.90237,12.6834 5.29289,12.2929 L9.58579,8 L5.29289,3.70711 Z'/%3E%3C/svg%3E");
    --icon-home: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 330 330'%3E%3Cpath d='M324.442,129.811l-41.321-33.677V42.275c0-6.065-4.935-11-11-11h-26c-6.065,0-11,4.935-11,11v14.737l-55.213-44.999 c-3.994-3.254-9.258-5.047-14.822-5.047c-5.542,0-10.781,1.782-14.753,5.019L5.8,129.81c-6.567,5.351-6.173,10.012-5.354,12.314 c0.817,2.297,3.448,6.151,11.884,6.151h19.791v154.947c0,11.058,8.972,20.053,20,20.053h62.5c10.935,0,19.5-8.809,19.5-20.053 v-63.541c0-5.446,5.005-10.405,10.5-10.405h42c5.238,0,9.5,4.668,9.5,10.405v63.541c0,10.87,9.388,20.053,20.5,20.053h61.5 c11.028,0,20-8.996,20-20.053V148.275h19.791c8.436,0,11.066-3.854,11.884-6.151C330.615,139.822,331.009,135.161,324.442,129.811z' /%3E%3C/svg%3E");
    --icon-link-external: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 12.3125 0 C 10.425781 0.00390625 10.566406 0.507813 11.5625 1.5 L 14.78125 4.71875 L 9.25 10.25 C 8.105469 11.394531 8.105469 13.230469 9.25 14.375 L 11.6875 16.78125 C 12.832031 17.921875 14.667969 17.925781 15.8125 16.78125 L 21.34375 11.28125 L 24.5 14.4375 C 25.601563 15.539063 26 15.574219 26 13.6875 L 26 3.40625 C 26 -0.03125 26.035156 0 22.59375 0 Z M 4.875 5 C 2.183594 5 0 7.183594 0 9.875 L 0 21.125 C 0 23.816406 2.183594 26 4.875 26 L 16.125 26 C 18.816406 26 21 23.816406 21 21.125 L 21 14.75 L 18 17.75 L 18 21.125 C 18 22.160156 17.160156 23 16.125 23 L 4.875 23 C 3.839844 23 3 22.160156 3 21.125 L 3 9.875 C 3 8.839844 3.839844 8 4.875 8 L 8.3125 8 L 11.3125 5 Z'/%3E%3C/svg%3E");
    --icon-link-pdf: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 1C4.34315 1 3 2.34315 3 4V20C3 21.6569 4.34315 23 6 23H18C19.6569 23 21 21.6569 21 20V8.82843C21 8.03278 20.6839 7.26972 20.1213 6.70711L15.2929 1.87868C14.7303 1.31607 13.9672 1 13.1716 1H6ZM5 4C5 3.44772 5.44772 3 6 3H12V8C12 9.10457 12.8954 10 14 10H19V20C19 20.5523 18.5523 21 18 21H6C5.44772 21 5 20.5523 5 20V4ZM18.5858 8L14 3.41421V8H18.5858Z'/%3E%3C/svg%3E");
    --icon-mobile-menu: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-20 0 480 412'%3E%3Cpath d='M120 256c0 30.9-25.1 56-56 57s-56-25.1-56-56s25.1-56 56-56s56 25.1 56 56zm160 0c0 30.9-25.1 56-56 56s-56-25.1-56-56s25.1-56 56-56s56 25.1 56 56zm104 56c-30.9 0-56-25.1-56-56s25.1-56 56-56s56 25.1 56 56s-25.1 56-56 56z'/%3E%3C/svg%3E");
    --icon-random: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M403.8 34.4c12-5 25.7-2.2 34.9 6.9l64 64c6 6 9.4 14.1 9.4 22.6s-3.4 16.6-9.4 22.6l-64 64c-9.2 9.2-22.9 11.9-34.9 6.9s-19.8-16.6-19.8-29.6V160H352c-10.1 0-19.6 4.7-25.6 12.8L284 229.3 244 176l31.2-41.6C293.3 110.2 321.8 96 352 96h32V64c0-12.9 7.8-24.6 19.8-29.6zM164 282.7L204 336l-31.2 41.6C154.7 401.8 126.2 416 96 416H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H96c10.1 0 19.6-4.7 25.6-12.8L164 282.7zm274.6 188c-9.2 9.2-22.9 11.9-34.9 6.9s-19.8-16.6-19.8-29.6V416H352c-30.2 0-58.7-14.2-76.8-38.4L121.6 172.8c-6-8.1-15.5-12.8-25.6-12.8H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H96c30.2 0 58.7 14.2 76.8 38.4L326.4 339.2c6 8.1 15.5 12.8 25.6 12.8h32V320c0-12.9 7.8-24.6 19.8-29.6s25.7-2.2 34.9 6.9l64 64c6 6 9.4 14.1 9.4 22.6s-3.4 16.6-9.4 22.6l-64 64z'/%3E%3C/svg%3E");
    --icon-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z'/%3E%3C/svg%3E");

    // 1.8 Misc
    --drop-shadow: 0 0 1px #444;
    --image-camu: var(--image-camu-light);
}

// 2. Months
body {
    &.theme-jan {
        --body-bg-repeat: repeat-x;
    }
    &.theme-feb {
        --body-bg-image: url('#{$assets}/img/bg/feb.webp');
        --body-bg-color: #4c4f36;

        --color-link: #694d21;
        --color-svg: invert(28%) sepia(33%) saturate(826%) hue-rotate(358deg) brightness(97%) contrast(91%);
    }
    &.theme-mar {
        --body-bg-image: url('#{$assets}/img/bg/mar.webp');
        --body-bg-position: 0 0;
        --body-bg-color: #0f1d32;

        --color-link: #274a80;
        --color-svg: invert(24%) sepia(89%) saturate(446%) hue-rotate(177deg) brightness(91%) contrast(95%);
    }
    &.theme-apr {
        --body-bg-image: url('#{$assets}/img/bg/apr.webp');
        --body-bg-color: #e1d7ff;

        --color-link: #3b6389;
        --color-svg: invert(35%) sepia(14%) saturate(1696%) hue-rotate(168deg) brightness(94%) contrast(87%);
    }
    &.theme-may {
        --body-bg-image: url('#{$assets}/img/bg/may.webp');
        --body-bg-color: #0d6f00;

        --color-link: #c02c3c;
        --color-svg: invert(30%) sepia(93%) saturate(719%) hue-rotate(43deg) brightness(101%) contrast(99%);
    }
    &.theme-jun {
        --body-bg-image: url('#{$assets}/img/bg/jun.webp');
        --body-bg-position: center bottom;
        --body-bg-repeat: no-repeat;
        --body-bg-color: #0062AD;

        --color-link: #0062ad;
        --color-svg: invert(21%) sepia(100%) saturate(2247%) hue-rotate(191deg) brightness(90%) contrast(101%);
    }
    &.theme-jul {
        --body-bg-image: url('#{$assets}/img/bg/jul.webp');
        --body-bg-color: #ccb2c1;

        --color-link: #3a7be0;
        --color-svg: invert(44%) sepia(88%) saturate(1978%) hue-rotate(199deg) brightness(90%) contrast(96%);
    }
    &.theme-aug {
        --body-bg-image: url('#{$assets}/img/bg/aug.webp');
        --body-bg-position: 0 center;
        --body-bg-color: #c0c586;

        --color-link: #3c875e;
        --color-svg: invert(43%) sepia(19%) saturate(1020%) hue-rotate(94deg) brightness(101%) contrast(92%);
    }
    &.theme-sep {
        --body-bg-image: url('#{$assets}/img/bg/sep.webp');
        --body-bg-color: #ac4900;

        --color-link: #943e00;
        --color-svg: invert(22%) sepia(54%) saturate(2583%) hue-rotate(16deg) brightness(100%) contrast(101%);
    }
    &.theme-oct {
        --body-bg-image: url('/content/themes/duechiacchiere/assets/img/bg/oct.webp');
        --body-bg-color: #222222;

        --color-link: #b2630a;
        --color-svg: invert(31%) sepia(76%) saturate(2454%) hue-rotate(28deg) brightness(97%) contrast(92%);
    }
    &.theme-nov {
        --body-bg-image: url('/content/themes/duechiacchiere/assets/img/bg/nov.webp');
        --body-bg-color: #2d1a0b;

        --color-link: #664438;
        --color-svg: invert(25%) sepia(10%) saturate(2150%) hue-rotate(329deg) brightness(95%) contrast(81%);
    }
    &.theme-dec {
        --body-bg-image: url('/content/themes/duechiacchiere/assets/img/bg/dec.webp');
        --body-bg-position: 0 0;
        --body-bg-color: #711517;

        --color-link: #a2191e;
        --color-svg: invert(14%) sepia(64%) saturate(3661%) hue-rotate(344deg) brightness(95%) contrast(98%);
    }
}

// 3. Dark mode
@media (prefers-color-scheme: dark) {
    :root {
        --border: 2px solid;
        --drop-shadow: 0 0 1px #ddd;
        --image-camu: var(--image-camu-dark);
    }

    body{
        // 3.1 Colors
        --body-bg-opacity: 0.2;

        --color-bg-code: rgb(40, 35, 48);
        --color-bg-container: rgba(20, 20, 20, 0.99);
        --color-bg-field: #363636;

        --color-border: #333;

        --color-abbr: #efe397;
        --color-code: #e6e6e6;
        --color-link: #9eaaff;
        --color-svg: invert(37%) sepia(85%) saturate(341%) hue-rotate(170deg) brightness(94%) contrast(87%);
        --color-svg-inverse: invert(0%) sepia(4%) saturate(4456%) hue-rotate(0deg) brightness(92%) contrast(84%);
        --color-text: #bbb;
        --color-white: #fff;

        // 3.2 Months
        &.theme-feb {
            --color-link: #1ec476;
            --color-svg: invert(68%) sepia(27%) saturate(1251%) hue-rotate(98deg) brightness(88%) contrast(85%);
        }
        &.theme-mar {
            --color-link: #81B7D2;
            --color-svg: invert(72%) sepia(19%) saturate(669%) hue-rotate(155deg) brightness(96%) contrast(82%);
        }
        &.theme-apr {
            --color-link: #c7bfed;
            --color-svg: invert(82%) sepia(8%) saturate(1294%) hue-rotate(208deg) brightness(95%) contrast(96%);
        }
        &.theme-may {
            --color-link: #ce6646;
            --color-svg: invert(45%) sepia(59%) saturate(566%) hue-rotate(328deg) brightness(93%) contrast(89%);
        }
        &.theme-jun {
            --color-link: #c2b280;
            --color-svg: invert(75%) sepia(7%) saturate(1577%) hue-rotate(8deg) brightness(95%) contrast(88%);
        }
        &.theme-jul {
            --color-link: #66bb8c;
            --color-svg: invert(69%) sepia(30%) saturate(516%) hue-rotate(94deg) brightness(91%) contrast(91%);
        }
        &.theme-aug {
            --color-link: #c0c584;
            --color-svg: invert(86%) sepia(13%) saturate(865%) hue-rotate(23deg) brightness(90%) contrast(85%);
        }
        &.theme-sep {
            --color-link: #af6d3b;
            --color-svg: invert(44%) sepia(65%) saturate(464%) hue-rotate(343deg) brightness(91%) contrast(85%);
        }
        &.theme-oct {
            --color-link: #d58f2a;
            --color-svg: invert(77%) sepia(64%) saturate(2447%) hue-rotate(341deg) brightness(88%) contrast(87%);
        }
        &.theme-nov {
            --color-link: #baaf96;
            --color-svg: invert(96%) sepia(3%) saturate(3170%) hue-rotate(333deg) brightness(88%) contrast(60%);
        }
        &.theme-dec {
            --color-link: #ff6363;
            --color-svg: invert(70%) sepia(71%) saturate(4246%) hue-rotate(319deg) brightness(97%) contrast(109%);
        }
    }
}