a.skip {
    background-color: #fff;
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: fixed;
    top: auto;
    width: 1px;

    :focus {
        height: auto;
        left: 20px;
        padding: 10px;
        text-decoration: none;
        top: 20px;
        width: auto;
    }    
}

.visually-hidden,
#comments .says {
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}