footer {
    background-color: $background-footer;
    color: $text-footer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: $margin-regular;
    padding: $padding-regular $padding-regular $padding-regular*3;

    @include media-query( tablet ) {
        border-bottom-left-radius: $padding-small;
        border-bottom-right-radius: $padding-small;
        flex-direction: row;
        font-size: $font-size-extra-small;
        justify-content: space-between;

        div, nav {
            border-right: $border;
            flex: 1;
            margin-right: $margin-regular;
            padding-right: $padding-regular;
            width: initial;

            &:last-child {
                border-right: 0;
                padding-right: 0;
            }

            @include media-query( tablet-max ) {
                &.about-me {
                    display: none;
                }
            }

            h2 {
                margin: 0 0 $margin-regular;
            }
        }
    }

    @include media-query( large ) {
        padding: $padding-regular;
    }

    p, ul {
        margin: 0;
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            padding: 0 0 $padding-small;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    a {
        color: $links-footer !important;
        text-decoration: none;
    }
}

#mobile-toolbar {
    display: flex;
    position: fixed;

    @include media-query( large ) {
        display: none;
    }
    
    background-color: $white;
    border-top: $border-secondary;
    bottom: 0;
    justify-content: space-evenly;
    height: $padding-regular * 3;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    top: auto;
    width: 100%;
    z-index: 1000;

    li {
        border-right: $border-secondary;
        flex: 1 1 0px;

        &:last-child {
            border-right: 0;
        }
    
        a {
            display: block;
            margin: 0 auto;
            padding: 15px;
            transition: 1.5s;
            width: 30px;
            
            &.toolbar-menu {
                transform: rotate( 90deg );

                &.active {
                    transform: rotate( 0deg );
                }
            }
            

            svg {
                width: 35px;
            }
        }
    }

    .toolbar {
        &-home:before {
            content: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 330 330' style='enable-background:new 0 0 330.242 330.242;' xml:space='preserve'%3E%3Cpath d='M324.442,129.811l-41.321-33.677V42.275c0-6.065-4.935-11-11-11h-26c-6.065,0-11,4.935-11,11v14.737l-55.213-44.999 c-3.994-3.254-9.258-5.047-14.822-5.047c-5.542,0-10.781,1.782-14.753,5.019L5.8,129.81c-6.567,5.351-6.173,10.012-5.354,12.314 c0.817,2.297,3.448,6.151,11.884,6.151h19.791v154.947c0,11.058,8.972,20.053,20,20.053h62.5c10.935,0,19.5-8.809,19.5-20.053 v-63.541c0-5.446,5.005-10.405,10.5-10.405h42c5.238,0,9.5,4.668,9.5,10.405v63.541c0,10.87,9.388,20.053,20.5,20.053h61.5 c11.028,0,20-8.996,20-20.053V148.275h19.791c8.436,0,11.066-3.854,11.884-6.151C330.615,139.822,331.009,135.161,324.442,129.811z' /%3E%3C/svg%3E");
        }
        &-random:before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M403.8 34.4c12-5 25.7-2.2 34.9 6.9l64 64c6 6 9.4 14.1 9.4 22.6s-3.4 16.6-9.4 22.6l-64 64c-9.2 9.2-22.9 11.9-34.9 6.9s-19.8-16.6-19.8-29.6V160H352c-10.1 0-19.6 4.7-25.6 12.8L284 229.3 244 176l31.2-41.6C293.3 110.2 321.8 96 352 96h32V64c0-12.9 7.8-24.6 19.8-29.6zM164 282.7L204 336l-31.2 41.6C154.7 401.8 126.2 416 96 416H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H96c10.1 0 19.6-4.7 25.6-12.8L164 282.7zm274.6 188c-9.2 9.2-22.9 11.9-34.9 6.9s-19.8-16.6-19.8-29.6V416H352c-30.2 0-58.7-14.2-76.8-38.4L121.6 172.8c-6-8.1-15.5-12.8-25.6-12.8H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H96c30.2 0 58.7 14.2 76.8 38.4L326.4 339.2c6 8.1 15.5 12.8 25.6 12.8h32V320c0-12.9 7.8-24.6 19.8-29.6s25.7-2.2 34.9 6.9l64 64c6 6 9.4 14.1 9.4 22.6s-3.4 16.6-9.4 22.6l-64 64z'/%3E%3C/svg%3E");
        }
        &-search:before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z'/%3E%3C/svg%3E");
        }
        &-menu:before {
            content: url("data:image/svg+xml,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='-30 -10 500 412'%3E%3Cpath d='M120 256c0 30.9-25.1 56-56 56s-56-25.1-56-56s25.1-56 56-56s56 25.1 56 56zm160 0c0 30.9-25.1 56-56 56s-56-25.1-56-56s25.1-56 56-56s56 25.1 56 56zm104 56c-30.9 0-56-25.1-56-56s25.1-56 56-56s56 25.1 56 56s-25.1 56-56 56z'/%3E%3C/svg%3E")
        }
    }
}

#menu-overlay {
    background-color: $background-footer;
    height: 100vh;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: opacity 1s ease-in, z-index 1s ease-in;
    width: 100vw;
    z-index: -1;

    &.active {
        opacity: 0.5;
        z-index: 450;
    }
}

#backtotop {
    background-color: $background;
    border: $border-secondary;
    border-radius: 5px;
    bottom: 65px + $padding-small;
    height: 40px;
    left: auto;
    opacity: 0;
    position: fixed;
    right: $padding-small;
    top: auto;
    transition: opacity 1s ease-in-out;
    width: 40px;

    @include media-query( large ) {
        right: $padding-regular * 2;
        bottom: $padding-regular * 2;
    }
}
#backtotop::before {
    border-bottom: 11px solid transparent;
    border-top: 11px solid transparent;
    border-right: 16px solid #222;
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 11px;
    transform: rotate(90deg);
}

