footer {
    background-color: $background-footer;
    color: $text-footer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: $margin-regular;
    padding: $padding-regular $padding-regular $padding-regular*3;

    @include media-query( tablet ) {
        border-bottom-left-radius: $padding-small;
        border-bottom-right-radius: $padding-small;
        flex-direction: row;
        font-size: $font-size-extra-small;
        justify-content: space-between;

        div, nav {
            border-right: $border;
            flex: 1;
            margin-right: $margin-regular;
            padding-right: $padding-regular;
            width: initial;

            &:last-child {
                border-right: 0;
                padding-right: 0;
            }

            @include media-query( tablet-max ) {
                &.about-me {
                    display: none;
                }
            }

            h2 {
                border-bottom: 0;
                margin: 0;
            }
        }
    }

    @include media-query( large ) {
        padding: calc( $padding-regular*2 ) $padding-regular;
    }

    @include media-query( print ) {
        display: none;
    }

    h2 {
        border-bottom: $border;
        margin-bottom: $margin-small;
        padding-bottom: $padding-small;
    }

    p {
        line-height: 1.5rem;
        margin: 0;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding-left: 0;

        li {
            line-height: 1em;
            padding-bottom: 14px;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    a {
        color: $links-footer !important;
        text-decoration: none;

        &:focus, &:focus-visible, &:hover {
            text-shadow: $shadow-light;
        }
    }
}

#mobile-toolbar {
    display: flex;
    position: fixed;

    @include media-query( large ) {
        display: none;
    }

    @include media-query( print ) {
        display: none;
    }
    
    background-color: $white;
    border-top: $border-secondary;
    bottom: 0;
    justify-content: space-evenly;
    height: $padding-regular * 3;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    top: auto;
    width: 100%;
    z-index: 1000;

    li {
        border-right: $border-secondary;
        flex: 1 1 0px;

        &:last-child {
            border-right: 0;
        }
    
        a {
            display: block;
            margin: 0 auto;
            padding: 15px;
            transition: .7s;
            width: 60px;
            
            &.icon-menu {
                transform: rotate( 90deg );

                &.active {
                    transform: rotate( 0deg );
                }
            }

            svg {
                width: 35px;
            }
        }
    }
}

#menu-overlay {
    background-color: $background-footer;
    height: 100vh;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: opacity 1s ease-out, z-index 1s ease-in;
    width: 100vw;
    z-index: -1;

    &.active {
        opacity: 0.7;
        z-index: 450;
    }
}

#backtotop {
    background-color: $white;
    border: $border-secondary;
    border-radius: $padding-small;
    bottom: 65px + $padding-small;
    height: 40px;
    padding: calc( $padding-small / 2 );
    position: fixed;
    right: -100px;
    top: auto;
    transition: right 1.5s ease-in-out;
    width: 40px;
    z-index: 100;

    &.active {
        right: $padding-small;

        @include media-query( large ) {
            right: $padding-regular * 2;
        }
    }

    @include media-query( large ) {
        bottom: $padding-regular * 2;
    }
}