html {
    scroll-behavior: smooth;
}

body {
    color: $text;
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: 300;
    line-height: 1.4;

    &.april-fools {
        animation: fadeInOut infinite linear 120s;
    }
    &.april-fools *:hover{
        filter: none;
    }
    @keyframes fadeInOut {
        0% {
        opacity: 1;
        }
        50% {
        opacity: 0.7;
        }
        100% {
        opacity: 1;
        }
    }

    h1 {
        font-family: $headings-font-family;
        font-size: $h1-font-size;
        margin-bottom: 0.3em;
    }
    h2 {
        font-family: $headings-font-family;
        font-size: $h2-font-size;
        margin-bottom: .3em;
    }
    h1 a, h2 a, h3 a {
        text-decoration: none;
    }
    h3 {
        font-weight: 300;
    }

    a:hover, a:focus, a:focus-visible {
        text-shadow: $shadow;
    }
}
   
#header-container {
    background-color: $background;
    border-bottom: $border;

    #branding {
        display: flex;
        align-items: flex-end;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0 $margin-regular;
    }
    #logo {
        height: auto;
        width: 30vw;
    }
    #name {
        font-family: $headings-font-family;
        font-size: 6vw;
        text-decoration: none;
    }
    #name:hover, #name:focus {
        filter: brightness( 50% );
    }
    #primary-menu {
        display: none;
    }
}
