html {
    scroll-behavior: smooth;

    @include media-query( large ) {
        margin: var(--gap-xl) 0 var(--gap-lg);
    }
}

body {
    background-size: contain;
    color: var(--color-text);
    font-family: 'Outfit', 'Outfit-Local', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.6;
    word-break: break-word;

    // Use CSS to tell Javascript if we are displaying the desktop or mobile layout (see below, where padding = 1 on desktop)
    &::before {
        display: none;
        padding: 0;
    }

    // Move admin bar to the bottom
    &.admin-bar {
        margin-bottom: 50px;

        #wpadminbar {
            bottom: 0;
            top: auto !important;

            .quicklinks .menupop {
                .ab-sub-wrapper {
                    bottom: 32px;
                }
                ul {
                    bottom: 0;
                }
            }
        }
    }

    // Let's have a little fun once a year
    &.april-fools {
        animation: blur 20s infinite alternate;
    }
    @keyframes blur {
        0%, 40%, 80%, 100% {
            filter: blur(0);
        }
        60% {
            filter: blur(1px);
        }
    }

    &.overlay-active {
        overflow: hidden;
        padding-right: var(--scrollbar-compensation, 0px);
    }

    @include media-query( large ) {
        // Use CSS to tell Javascript if we are displaying the desktop or mobile layout (see above, where padding = 0 by default)
        &::before {
            padding: 1px;
        }

        background: linear-gradient(rgba(0, 0, 0, var(--body-bg-opacity)), rgba(0, 0, 0, var(--body-bg-opacity))), var(--body-bg-image) var(--body-bg-position) / var(--body-bg-size) var(--body-bg-repeat) fixed var(--body-bg-color);
        border-radius: var(--border-radius);
        box-shadow: 0px 0px 0px 12px rgb( 255 255 255 / 40% );
        margin: 0 auto;
        max-width: 1300px;
        width: 90%;
    }

    h1, h2, h3 {
        font-weight: 300;
        line-height: 1.8rem;
        margin: 1em 0 .2em;
    }

    a, a:visited, a:active, input.submit {
        &.skip {
            background-color: var(--color-bg-container);
            height: 1px;
            left: -10000px;
            overflow: hidden;
            position: fixed;
            top: auto;
            width: 1px;

            &:focus {
                height: auto;
                left: var(--gap-lg);
                padding: var(--gap-sm);
                text-decoration: none;
                left: var(--gap-lg);
                width: auto;
            }
        }
        &.skip-inline {
            left: -10000px;
            overflow: hidden;
            position: fixed;

            &:focus {
                left: initial;
                position: relative;

                @include media-query( large ) {
                    margin-left: var(--gap-sm);
                }
            }
        }

        color: var(--color-link);
        text-decoration: none;
    }

    a:hover, a:focus, a:focus-visible {
        filter: drop-shadow(var(--drop-shadow));
    }

    @include media-query( print ) {
        a {
            text-decoration: none;
        }
    }

    .svg::before, .svg::after {
        display: inline-block;
        filter: var(--color-svg);
    }

    // Utility classes
    .visually-hidden, #comments .says {
        clip-path: inset(50%);
        color: var(--text-color);
        left: -1000vw;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
    }
}

#header-container {
    background-color: var(--color-bg-container);
    border-bottom: var(--border) var(--color-text);
    padding-top: var(--gap-lg);

    @include media-query( large ) {
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        border-bottom: 0;
    }
    @include media-query( print ) {
        border-bottom: var(--border) var(--color-border);
    }

    #branding {
        display: flex;
        align-items: flex-end;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0 var(--gap-lg);
    }
    #camu {
        display: inline-block;
        background-image: var(--image-camu);
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: contain;
        height: 15vw;
        max-height: 120px;
        max-width: 200px;
        width: 25vw;

        @include media-query( print ) {
            -webkit-print-color-adjust: exact !important;
            color-adjust: exact !important;
            print-color-adjust: exact !important;
        }
    }

    #name {
        font-size: 7vw;
        text-decoration: none;

        @include media-query( large ) {
            font-size: 3.2em;
            line-height: 1.5em;
        }
    }

    #primary-menu {
        >ul>li.current-menu-item, >ul>li.current-menu-parent {
            background-color: var(--color-link);
            >a {
                color: var(--color-bg-container);

                &.open-submenu::before {
                    filter: var(--color-svg-inverse);
                }
            }
        }

        @include media-query( mobile ) {
            background-color: var(--color-bg-container);
            display: flex;
            height: calc(100vh - var(--gap-xl));
            min-width: 70%;
            overflow-x: hidden;
            overflow-y: auto;
            position: fixed;
            right: 0;
            top: 0;
            transform: translateX(100%);
            transition: transform 0.5s ease-out, visibility 0.5s ease-out;
            visibility: hidden; // to remove it from the tabbing sequence
            width: auto;
            z-index: 500;

            ul {
                list-style-type: none;
                margin: 0;
                overflow-y: auto;
                padding: 0;
                position: relative;
                width: 100%;

                li {
                    display: flex;
                    align-items: center;
                    border-bottom: var(--border) var(--color-border);
                    justify-content: space-between;
                    position: relative;

                    &.current-menu-item, &.current-menu-parent {
                        background-color: var(--color-link);

                        >a {
                            color: var(--color-bg-container);
                        }
                    }

                    a {
                        display: flex;
                        flex: 1;
                        padding: var(--gap-lg);
                        text-decoration: none;

                        &.open-submenu {
                            flex: 0 0 auto;
                            &::before {
                                content: var(--icon-angle-right);
                                filter: var(--color-svg);
                                height: 25px;
                                width: 25px;
                            }
                        }
                        &.close-submenu::before {
                            content: var(--icon-angle-right);
                            transform: rotate(180deg);
                            filter: var(--color-svg);
                            margin-right: var(--gap-sm);
                            width: 13px;
                        }
                    }
                    ul {
                        background-color: var(--color-bg-container);
                        height: calc( 100% - 60px );
                        left: 0;
                        position: fixed;
                        top: 0;
                        transform: translateX(100%);
                        transition: transform 0.5s ease-out;
                        z-index: 501;
                    }

                    &.active > ul {
                        transform: translateX( 0 );
                        visibility: visible;
                    }
                }
            }

            &.active {
                box-shadow: 0 0 var(--gap-md) var(--color-border);
                transform: translateX( 0 );
                visibility: visible;
            }
        }

        @include media-query( large ) {
            display: block;
            border-bottom: var(--border) var(--color-border);
            border-top: var(--border) var(--color-border);

            ul.menu {
                display: flex;
                height: 40px;
                list-style-type: none;
                margin: 0;
                padding: 0 var(--gap-sm);

                > li {
                    display: flex;
                    position: relative;

                    &:hover > ul.sub-menu, &.active > ul.sub-menu {
                        transition-delay: 0.3s;
                        visibility: visible;
                    }

                    &.active ul.sub-menu .close-submenu {
                        display: block !important;
                    }
                    &:hover ul.sub-menu .close-submenu {
                        display: none;
                    }

                    a {
                        line-height: 1rem;
                        padding: var(--gap-sm) var(--gap-sm) var(--gap-md);
                        text-decoration: none;

                        &.open-submenu {
                            &::before {
                                content: var(--icon-angle-right);
                                width: 10px;
                            }

                            left: -10000vh;
                            padding: 0 !important;
                            position: absolute;
                            top:25px;
                            transform: rotate(90deg);
                            width: 10px;

                            &:hover, &:focus-visible {
                                left: 45%;
                            }
                        }
                    }

                    ul.sub-menu {
                        background-color: var(--color-bg-container);
                        border: var(--border) var(--color-border);
                        border-bottom-left-radius: var(--border-radius);
                        border-bottom-right-radius: var(--border-radius);
                        display: block;
                        list-style-type: none;
                        margin: 40px 0 0;
                        min-width: 200px;
                        overflow: hidden;
                        padding: 0;
                        position: absolute;
                        transition: all 0s ease-in-out;
                        visibility: hidden;
                        z-index: 100;

                        a {
                            display: block;
                            min-width: 100px;
                            padding: var(--gap-sm);

                            &.close-submenu.svg {
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }

        @include media-query( print ) {
            display: none;
        }
    }
}