html {
    scroll-behavior: smooth;

    @include media-query( large ) {
        margin: $margin-regular*2 0 $margin-regular;
    }
}

body {
    color: $text;
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    line-height: 1.4;

    @include media-query( large ) {
        border-radius: $padding-small;
        box-shadow: $box-shadow;
        font-size: $body-font-size + 0.1;
        margin: 0 auto;
        max-width: $body-max-width;
        width: 90%;
    }

    @each $month in $months {
        &.#{ nth( $month, 1 ) } {
            background: url( "themeuri/assets/img/bg/#{ nth( $month, 1 ) }.webp" ) #{ nth( $month, 2 ) };
        }
        &.#{ nth( $month, 1 ) } a, &.#{ nth( $month, 1 ) } a:visited, &.#{ nth( $month, 1 ) } a:active, &.#{ nth( $month, 1 ) } input.submit {
            color: #{ nth( $month, 3 ) };
        }
        &.#{ nth( $month, 1 ) } .svg {
            filter: #{ nth( $month, 4 ) };
        }
        &.#{ nth( $month, 1 ) }.pagination-item.previous-page a::before,
        &.#{ nth( $month, 1 ) }.pagination-item.next-page a::before,
        &.#{ nth( $month, 1 ) } #backtotop::before {
            border-right-color: #{ nth( $month, 3 ) };
        }
    }

    &.april-fools {
        animation: fadeInOut infinite linear 120s;
    }
    &.april-fools *:hover{
        filter: none;
    }
    @keyframes fadeInOut {
        0% {
        opacity: 1;
        }
        50% {
        opacity: 0.7;
        }
        100% {
        opacity: 1;
        }
    }

    h1 {
        font-size: $h1-font-size;
    }
    h2 {
        font-size: $h2-font-size;
    }
        h1, h2, h3 {
        font-weight: 300;
        margin-bottom: 0.2em;

        a {
            text-decoration: none;
        }
    }

    @include media-query( print ) { 
        a {
            text-decoration: none;
        }
    }

    a:hover, a:focus, a:focus-visible {
        text-shadow: $shadow;
    }

    a.skip {
        background-color: #fff;
        height: 1px;
        left: -10000px;
        overflow: hidden;
        position: fixed;
        top: auto;
        width: 1px;
    
        &:focus {
            height: auto;
            left: 20px;
            padding: 10px;
            text-decoration: none;
            top: 20px;
            width: auto;
        }    
    }
    a.skip-inline {
        left: -10000px;
        overflow: hidden;
        position: fixed;

        &:focus {
            left: initial;
            position: relative;

            @include media-query( large ) {
                margin-left: $margin-small;
            }
        }
    }
    
    .visually-hidden,
    #comments .says {
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
}
   
#header-container {
    background-color: $background;
    border-bottom: $border-secondary;
    padding-top: $padding-regular;

    @include media-query( large ) {
        border-top-left-radius: $padding-small;
        border-top-right-radius: $padding-small;
        border-bottom: 0;
        
    }
    @include media-query( print ) {
        border-bottom: 2px solid #000;
    }

    #branding {
        display: flex;
        align-items: flex-end;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0 $margin-regular;
    }
    #logo {
        height: auto;
        width: 25vw;

        @include media-query( large ) {
            width: initial;
        }
    }

    #name {
        font-family: $headings-font-family;
        font-size: 6vw;
        text-decoration: none;

        @include media-query( large ) {
            font-size: 3em;
        }
    }
    #name:hover, #name:focus {
        filter: brightness( 50% );
    }

    #primary-menu {
        @include media-query( mobile ) {
            background-color: $background;
            display: flex;
            height: calc( 100vh - $padding-regular*3 );
            min-width: 70%;
            overflow-x: hidden;
            overflow-y: auto;
            position: fixed;
            right: 0;
            top: 0;
            transform: translateX( 100% );
            transition: transform 0.5s ease-out, visibility 0.5s ease-out;
            visibility: hidden; // to remove it from the tabbing sequence
            width: auto;
            z-index: 500;

            ul {
                list-style-type: none;
                margin: 0;
                overflow-y: auto;
                padding: 0;
                position: relative;
                width: 100%;    

                li {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: $border-secondary;

                    a {
                        display: block;
                        flex: 1;
                        padding: $padding-regular;
                        text-decoration: none;

                        &.open-submenu{
                            flex: 0;
                            padding: $padding-regular $padding-regular $padding-regular $padding-regular*2;
                            
                            &:before {
                                border-style: solid;
                                border-width: 0.25em 0.25em 0 0;
                                content: '';
                                display: inline-block;
                                height: 0.35em;
                                left: 0;
                                position: relative;
                                top: 8px;
                                vertical-align: top;
                                width: 0.35em;
                                transform: rotate(45deg);
                            }
                        }
                    }
                    ul {
                        background-color: $background;
                        height: calc( 100% - 60px );
                        left: 0;
                        position: fixed;
                        top: 0;
                        transform: translateX(100%);
                        transition: transform 0.5s ease-out;
                        z-index: 501;

                        .close-submenu:before {
                            border-style: solid;
                            border-width: 0.25em 0.25em 0 0;
                            content: '';
                            display: inline-block;
                            height: 0.35em;
                            left: 0;
                            margin-right: $margin-small;
                            position: relative;
                            top: 8px;
                            vertical-align: top;
                            width: 0.35em;
                            transform: rotate(-135deg);
                        }
                    }

                    &.active > ul {
                        transform: translateX( 0 );
                        visibility: visible;
                    }
                }
            }

            &.active {
                box-shadow: 0 0 10px $shadow-nav;
                transform: translateX( 0 );
                visibility: visible;
            }
    
        }

        @include media-query( large ) {
            display: block;
            border-bottom: $border-secondary;
            border-top: $border-secondary;
            
            ul {
                list-style-type: none;

                &.menu {
                    display: flex;
                    margin: 0;
                    padding: 0 0 0 calc( $padding-regular / 2 );
                    position: relative;

                    > li {
                        display: flex;

                        a {
                            padding: calc( $padding-regular / 2 ) $padding-small;
                            text-decoration: none;
                        }
                        a:hover, a:focus,
                        &.current-menu-item > a, &.current-menu-parent > a {
                            text-shadow: 0 0 2px #444;
                        }

                        &:hover > ul.sub-menu,
                        &.focus > ul.sub-menu {
                            background-color: $background;
                            border: $border-secondary;
                            border-bottom-left-radius: $padding-small;
                            border-bottom-right-radius: $padding-small;
                            left: auto;
                            margin: 47px 0 0;
                            padding: 0;
                            z-index: 100;
                            transition-delay: 0.3s;
                            visibility: visible;
                        }

                        a.open-submenu {
                            display: none;
                        }

                        ul.sub-menu {
                            left: -99999px;
                            min-width: 200px;
                            position: absolute;
                            transition: all 0s;
                            visibility: hidden;

                            a {
                                display: block;
                                min-width: 100px;
                                padding: calc( $padding-small / 2 ) $padding-small;

                                &.close-submenu {
                                    display: none;
                                }
                            }
                            a:hover, a:focus,
                            .current-menu-item > a, .current-menu-parent > a {
                                text-shadow: 0 0 2px #444;
                            }
                        }
                    }
                }
            }
        }

        @include media-query( print ) {
            display: none;
        }
    }
}