#main-wrapper {
    background-color: $background;
    display: flex;
    flex-direction: column;
    padding: 0 $padding-regular $padding-regular*2;

    @include media-query( large ) {
        flex-direction: row;
    }
}

main {
    @include media-query( large ) {
        flex: 2.5;
        padding: 0 $padding-regular*2 0 0;
    }

    > article {
        border-bottom: $border-secondary;
        padding-bottom: $padding-regular;
        margin-bottom: $margin-regular;

        &.last {
            border-bottom: 0;
            margin-bottom: 0;
        }

        @include media-query( large ) {
            border-bottom: 0;
        }

        header {
            padding-bottom: $padding-small;

            h1, h2 {
                font-family: $headings-font-family;
                font-size: $h1-font-size;
                margin-top: $margin-regular;
            }

            // Post Meta
            .post-meta {
                font-size: $font-size-extra-small;
                margin: 0 0 0.5em;
                opacity: .7;
            }
            .post-meta {
                .comments-link {
                    display: table;

                    @include media-query( large ) {
                        display: initial;
                    }
                }
                .comment-separator {
                    display: none;

                    @include media-query( large ) {
                        display: initial;
                    }
                }
            }
        }

        // Links
        @include external-links;
        
        // Images
        figure {
            margin: 0 0 20px;
            max-width: 100% !important;

            img {
                box-sizing: border-box;
                height: auto;
                width: 100%;
            }
            span.wp-caption-text {
                background-color: $white;
                font-size: $font-size-small;
                display: block;
                margin-top: -10px;
                padding: 10px;
                text-align: center;
            }
        }
        
        // Videos
        .wp-video, video.wp-video-shortcode, .mejs-container, .mejs-overlay.load {
            width: 100% !important;
            height: 100% !important;

            @include media-query( print ) {
                display: none;
            }
        }   
        .mejs-container.wp-video-shortcode {
            padding-top: 56.25%;
        }
        .mejs-container.wp-audio-shortcode {
            height: auto !important;
            padding-top: 40px;
        }
        .wp-video, video.wp-video-shortcode {
            max-width: 100% !important;
        }
        video.wp-video-shortcode {
            position: relative;
        }
        .mejs-mediaelement {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        .mejs-overlay-play {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: auto !important;
            height: auto !important;
        }

        // Blockquotes, citations and pre-formatted text (code)
        blockquote {
            border-left: 5px solid $background-secondary;
            padding-left: $padding-regular;
            margin: $margin-small 0 $margin-regular;
        }
        cite {
            font-style: normal;
        }
        pre {
            background-color: $background-code;
            color: $text-code;
            font-size: $font-size-small;
            padding: $padding-small;
            white-space: pre-wrap;
        }

        p {
            margin-top: .5em;

            &:last-child {
                margin-bottom: 0;
            }
        }
        @include media-query( print ) {
            .entry a::after{
                color: #888;
                content: " [ " attr(href) " ]";
                word-break: break-all;
            }
        }
    }
   
    #comments {
        font-size: $font-size-extra-small;

        ol {
            list-style-type: none;
            padding-left: 0;

            li {
                margin: $margin-regular 0;

                .comment-body {
                
                    padding-bottom: 0;
    
                    .comment-author, .comment-meta {
                        img {
                            float: left;
                            margin-right: $margin-small;
                        }
                        a {
                            text-decoration: none;
                        }
                        cite {
                            font-style: initial;
                        }
                    }
                    p {
                        @include external-links;
                    }
                    .reply {
                        a {
                            background-color: $white;
                            border: $border-secondary;
                            display: block;
                            font-size: $font-size-extra-small;
                            margin-top: $margin-small;
                            padding: calc( $padding-small/2 ) $padding-small;
                            text-decoration: none;
                            width: fit-content;
                        }
                    }
                }

                ol.children, #respond {
                    border-left: $border-secondary;
                    margin: $margin-small 0 0;
                    padding-left: $padding-regular;
                }
    
                a {
                    word-break: break-all;
    
                    @include media-query( print ) { 
                        &.comment-reply-link {
                            display: none;
                        }
                    }
                }
            }
        }

        #respond {
            @include media-query( print ) {
                display: none;
            }

            #commentform {
                display: flex;
                flex-wrap: wrap;
                gap: 2%;
    
                p {
                    display: flex;
                    flex-direction: column;
                    margin: 5px 0;
                    width: 100%;
    
                    &.comment-form-author, &.comment-form-email {
                        width: 49%;
                    }
                }
                input, textarea {
                    background-color: $white;
                    border: $border-secondary;
                    font-weight: 300;
                    padding: $padding-small;
                    
                }
                .comment-form-comment, .comment-form-url, .comment-form-subscriptions, .comment-form-manage {
                    width: 100%;
                }
                .form-submit {
                    align-items: flex-start;
                    flex-direction: row;
                    flex-wrap: wrap;
                    font-size: $font-size-extra-small;
                    margin-top: $margin-regular;

                    .submit {
                        margin: 0 $margin-regular $margin-regular 0;
                        padding: $padding-small;
                    }
                    #cancel-comment-reply-link {
                        background-color: $white;
                        border: $border-secondary;
                        font-weight: 300;
                        padding: $padding-small;
                    }

                    @include media-query( large ) {
                        width: fit-content;
                    }
                }
            }
        }
    }

    #pagination {
        display: none;

        @include media-query( large ) {
            display: initial;
            
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                list-style: none;
                padding-left: 0;

                .pagination-item {
                    background-color: $background;
                    border: $border-secondary;
                    border-right-width: 0;

                    &:last-child {
                        border-right-width: 1px;
                    }
                    &.previous-page {
                        border-top-left-radius: $padding-small;
                        border-bottom-left-radius: $padding-small;

                        i, a {
                            position: relative;
                            width: 25px;

                            &:before {
                                border-bottom: 8px solid transparent;
                                border-top: 8px solid transparent;
                                border-right: 16px solid #464646;
                                content: '';
                                display: block;
                                left: 20px;
                                position: absolute;
                                top: 15px;
                            }
                        }

                        i:before {
                            border-right-color: #aaa;
                        }
                    }
                    &.next-page {
                        border-top-right-radius: $padding-small;
                        border-bottom-right-radius: $padding-small;

                        i, a {
                            position: relative;
                            width: 25px;

                            &:before {
                                border-bottom: 8px solid transparent;
                                border-top: 8px solid transparent;
                                border-right: 16px solid #464646;
                                content: '';
                                display: block;
                                left: 20px;
                                position: absolute;
                                top: 15px;
                                transform: rotate( 180deg );
                            }
                        }

                        i:before {
                            border-right-color: #aaa;
                        }
                    }

                    a, i, span {
                        display: block;
                        height: 1.3em;
                        padding: 10px 15px;
                        min-width: 1em;
                        text-align: center  ;
                        text-decoration: none;
                    }

                    span.current {
                        text-shadow: 0 0 2px #222;
                    }
                }
            }
        }
    }
}
