#main-wrapper {
    background-color: var(--color-bg-container);
    display: flex;
    flex-direction: column;
    padding: 0 var(--gap-lg) var(--gap-xl);

    @include media-query( large ) {
        flex-direction: row;
    }
}

main {
    @include media-query( large ) {
        flex: 2.5;
        padding: 0 var(--gap-xl) 0 0;
    }

    > article {
        @include media-query( mobile ) {
            border-bottom: var(--border) var(--color-border);
        }

        padding-bottom: var(--gap-lg);
        margin-bottom: var(--gap-lg);

        header {
            padding-bottom: var(--gap-sm);

            h1, h2 {
                font-size: var(--font-size-xl);
                margin: var(--gap-lg) 0 var(--gap-sm);
            }

            // Post Meta
            .post-meta {
                font-size: var(--font-size-sm);
                margin: -5px 0 0.5em;
                opacity: .7;

                a {
                    // This simulates the underlining, to include the icon when needed
                    background: linear-gradient(180deg, transparent 95%, var(--color-link) 95%);

                    &.post-edit-link {
                        background: none;
                    }
                }
                .comments-link {
                    display: table;

                    @include media-query( large ) {
                        display: initial;
                    }
                }
                .comment-separator {
                    display: none;

                    @include media-query( large ) {
                        display: initial;
                    }
                }
            }
        }

        .entry {
            // Paragraphs and lists
            p {
                font-size: 1.1rem;
                margin: 0 0 var(--gap-sm);

                &:last-child {
                    margin-bottom: 0;
                }
            }

            // Links
            a {
                &::after {
                    margin: 0 1px 0 5px;
                    width: 10px;
                }
                &.external::after {
                    content: var(--icon-link-external);
                }

                &.external.pdf::after {
                    content: var(--icon-link-pdf);
                }

                &.more-link::after {
                    content: var(--icon-angle-right);
                    margin: 0 0 0 3px;
                }

                // This simulates the underlining, to include the icon when needed
                background: linear-gradient(180deg, transparent 95%, var(--color-link) 95%);
            }

            // Images
            figure {
                border-radius: var(--border-radius);
                margin: var(--gap-lg) 0;
                max-width: 100% !important;
                overflow: hidden;

                img {
                    box-sizing: border-box;
                    height: auto;
                    width: 100%;

                    &.alignright {
                        float:right;
                    }
                    &.alignleft {
                        float:left;
                    }
                    &.aligncenter {
                        display: block;
                        margin: 0 auto;
                    }
                }
                .wp-caption-text {
                    background-color: var(--color-border);
                    display: block;
                    padding: var(--gap-sm);
                    text-align: center;

                    @include media-query( print ) {
                        -webkit-print-color-adjust: exact !important;
                        color-adjust: exact !important;
                        print-color-adjust: exact !important;
                    }
                }
            }

            // Videos
            .wp-video, .mejs-container, .mejs-overlay.load {
                margin: var(--gap-lg) 0;
                max-width: 100% !important;
                position: relative;
                width: 100% !important;

                @include media-query( print ) {
                    display: none;
                }
            }
            .mejs-container.wp-video-shortcode {
                border-radius: var(--border-radius);
                overflow: hidden;
                padding-top: 56.25%;
            }
            .mejs-container.wp-audio-shortcode {
                height: auto !important;
                padding-top: 40px;
            }
            .mejs-mediaelement {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
            .mejs-overlay-play {
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: auto !important;
                height: auto !important;
            }
            .mejs-captions-layer {
                font-size: var(--font-size-lg);
            }
            .mejs-captions-position {
                background: hsla(0,0%,0%,.7);
                bottom: 0;
            }
            .mejs-captions-position-hover {
                bottom: 40px;
            }
            .mejs-captions-text, .mejs-captions-text * {
                background-color: transparent;
                box-shadow: none !important;
                line-height: 1.4em;
                padding: var(--gap-sm) var(--gap-md);
            }
            .mejs-captions-button>.mejs-captions-selector {
                width: 100px;
            }
            .mejs-captions-selector-list {
                padding-bottom: var(--gap-sm);
            }
            .mejs-captions-selector-label {
                font-size: var(--font-size-sm);
                line-height: 1rem;
            }
            .mejs-horizontal-volume-slider {
                background: none;
            }
            .mejs-controls {
                background: #444;
            }

            // Abbreviations
            abbr {
                border-bottom: 2px dotted var(--color-abbr);
                text-decoration: none;
            }

            // Blockquotes, citations and pre-formatted text (code)
            blockquote {
                border-left: 5px solid var(--color-border);
                padding-left: var(--gap-lg);
                margin: var(--gap-sm) 0 var(--gap-lg);
            }

            cite {
                font-style: normal;
            }
            code {
                font-weight: 700;
            }
            pre {
                white-space: pre-wrap;
                margin-bottom: var(--gap-lg);

                code {
                    background-color: var(--color-bg-code);
                    color: var(--color-code);
                    display: block;
                    font-weight: 400;
                    font-size: var(--font-size-sm);
                    padding: var(--gap-sm) var(--gap-lg);
                    word-break: break-word;
                }
            }

            // Lists
            ul, ol {
                li {
                    padding-bottom: var(--gap-sm);
                }
            }

            @include media-query( print ) {
                a::after{
                    color: var(--color-link);
                    display: inline;
                    filter: none;
                    content: " [ " attr(href) " ]" !important;
                    width: initial;
                    word-break: break-all;
                    word-wrap: break-word;
                }
            }
        }
    }

    #comments {
        @include media-query( mobile ) {
            border-bottom: var(--border) var(--color-border);
            padding-bottom: var(--gap-lg);
        }

        ol {
            list-style-type: none;
            padding-left: 0;

            li {
                margin: var(--gap-lg) 0;
                padding-bottom: 0;

                .comment-meta {
                    font-size: var(--font-size-xs);
                    margin-bottom: var(--gap-sm);

                    .comment-author-name {
                        line-height: 1.2rem;
                    }

                    img {
                        border-radius: var(--border-radius);
                        float: left;
                        margin-right: var(--gap-sm);
                    }
                    a {
                        border-bottom: 0;
                    }
                    cite {
                        font-style: initial;
                    }
                }
                .comment-content {
                    font-size: var(--font-size-sm);
                    p {
                        margin-bottom: var(--gap-sm);
                    }
                    a {
                        padding-bottom: .1vh;

                        @include media-query( print ) {
                            &.comment-reply-link {
                                display: none;
                            }
                        }
                    }
                    blockquote {
                        padding-left: var(--gap-lg);
                        position: relative;
                    }
                    blockquote::before {
                        color: var(--color-text);
                        content: '"';
                        filter: brightness(85%);
                        font-style: italic;
                        left: calc(var(--gap-sm) * (-1));
                        line-height: 1rem;
                        position: absolute;
                        top: var(--gap-md);
                        font-size: 3rem;
                    }
                }
                .reply {
                    @include media-query( print ) {
                        display: none;
                    }

                    a {
                        font-size: var(--font-size-sm);
                    }
                }

                ol.children, #respond {
                    border-left: 3px solid var(--color-border);
                    margin: var(--gap-sm) 0 0 3px;
                    padding-left: var(--gap-lg);
                }
            }
        }

        #respond {
            @include media-query( print ) {
                display: none;
            }
        }

        #comment-form {
            display: flex;
            flex-wrap: wrap;
            gap: 2%;

            p {
                display: flex;
                flex-direction: column;
                margin: 5px 0;
                width: 100%;

                &.comment-form-author, &.comment-form-email {
                    width: 49%;
                }
            }
            input, textarea, button {
                background-color: var(--color-bg-field);
                border: var(--border) var(--color-border);
                border-radius: var(--border-radius);
                color: var(--color-text);
                font-weight: 300;
                padding: var(--gap-xs) var(--gap-sm);

                &:active, &:focus {
                    border: var(--border) var(--color-link);
                    outline: none;
                }

            }
            .comment-form-comment, .comment-form-url, .comment-form-subscriptions, .comment-form-manage {
                width: 100%;
            }
            .form-submit {
                align-items: flex-start;
                flex-direction: row;
                flex-wrap: wrap;
                font-size: var(--font-size-sm);
                margin-top: var(--gap-lg);

                #comment-submit {
                    margin: 0 var(--gap-lg) 0 0;
                    padding: var(--gap-xs) var(--gap-sm);

                    &:hover, &:focus {
                        cursor: pointer;
                        text-shadow: var(--drop-shadow);
                    }

                    @keyframes shakeme {
                        0% { transform: translate(10px, 0); }
                        25% { transform: translate(-10px, 0); }
                        50% { transform: translate(5px, 0); }
                        75% { transform: translate(-5px, 0); }
                        100% { transform: translate(0, 0); }

                    }
                    &.shake {
                        display: inline-block;
                        animation-name: shakeme;
                        animation-duration: 0.5s;
                        transform-origin: 50% 50%;
                        animation-timing-function: linear;
                    }
                }
                #cancel-comment-reply {
                    background-color: var(--color-bg-field);
                    border: var(--border) var(--color-border);
                    font-weight: 300;
                    padding: var(--gap-xs) var(--gap-sm);

                    &:hover, &:focus {
                        cursor: pointer;
                        text-shadow: var(--drop-shadow);
                    }
                }
            }
        }
    }
}