main, aside {
    padding: 20px;
}
.post-meta time,
.post-meta .comments-link {
    display: block;
}
.post-meta .comment-separator {
    display: none;
}
#comments ol.children {
    border-left: 1px solid #ccc;
    margin-left: 5px;
    padding-left: 5px;
}
#comments a {
    word-break: break-all;
}
#commentform .form-submit {
    padding: 0;
    width: 100%;
}
#pagination {
    display: none;
}