aside {
    @include media-query( large ) {
        flex: 1;
    }

    @include media-query( print ) {
        display: none;
    }

    #search-form form {
        display: flex;

        #search-field {
            border: $border-input-fields;
            border-radius: $border-radius;
            flex: 1;
            font-weight: 300;
            padding: $padding-small;
            width: 100%;
        }
        #search-field::placeholder {
            color: #555;
        }
        #search-button {
            align-items: center;
            background: none;
            border: 0;
            display: flex;
            margin-left: -$margin-regular * 2;
            padding: 0;
            width: $margin-regular * 2;
            z-index: 10;

            &::before {
                margin-left: 5px;
                margin-top: 5px;
                width: $margin-regular;
            }
        }
    }

    .widget {
        padding-top: $padding-regular;

        h2 {
            background: $background-secondary;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            font-size: $font-size-large;
            margin: 0;
            padding: 5px $padding-small;
        }
        ul {
            border-left: $border-secondary;
            border-right: $border-secondary;
            list-style-type: none;
            margin: 0;
            padding-left: 0;
        }
        li {
            background-color: $white;
            border-bottom: $border-secondary;
            padding: $padding-small;
        }
        li.current-post {
            text-shadow: $shadow;
        }
    }
    
    h3 {
        font-family: $headings-font-family;
        font-size: $font-size-medium;
        line-height: 1.6rem;
        margin: 0;
    }
    p {
        font-size: $font-size-regular;
        margin: $margin-small 0 0;
        opacity: 85%;
    }
    a {
        text-decoration: none;
    }
}
