aside {
    @include media-query( large ) {
        flex: 1;
    }

    @include media-query( print ) {
        display: none;
    }

    #search-form form {
        border: var(--border) var(--color-border);
        border-radius: var(--border-radius);
        display: flex;
        overflow: hidden; // otherwise the round corners look weird
        position: relative;

        &:focus-within {
            border: var(--border) var(--color-link);
        }

        #search-field {
            background-color: var(--color-bg-field);
            border: 0;
            color: var(--text-color);
            flex: 5;
            font-size: var(--font-size-sm);
            font-weight: 300;
            padding: var(--gap-sm);
            width: 100%;

            &:focus {
                outline: none;
            }
        }
        #search-field::placeholder {
            color: var(--text-color-secondary);
        }
        #search-button {
            background-color: var(--color-bg-field);
            border: 0;
            cursor: pointer;
            flex: 1;

            &::before {
                content: var(--icon-search);
                filter: var(--color-svg);
                position: absolute;
                top: 10px;
                width: 15px;
            }
        }
    }

    .widget {
        padding-top: var(--gap-lg);

        h2 {
            background: var(--color-border);
            border-top-left-radius: var(--border-radius);
            border-top-right-radius: var(--border-radius);
            font-size: var(--font-size-lg);
            margin: 0;
            padding: 5px var(--gap-sm);
        }
        ul {
            border-left: var(--border) var(--color-border);
            border-right: var(--border) var(--color-border);
            border-bottom-left-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
            list-style-type: none;
            margin: 0;
            overflow: hidden; // otherwise the round corners look weird
            padding-left: 0;
        }
        li {
            border-bottom: var(--border) var(--color-border);
            padding: var(--gap-sm);
        }
        li.current-post {
            text-shadow: var(--drop-shadow);
        }
    }

    h3 {
        font-size: var(--font-size-md);
        line-height: 1.6rem;
        margin: 0;
    }
    p {
        font-size: var(--font-size-sm);
        margin: var(--gap-sm) 0 0;
        opacity: 85%;
    }
    a {
        text-decoration: none;
    }
}
