aside {
    @include media-query( large ) {
        flex: 1;
    }

    @include media-query( print ) {
        display: none;
    }

    #search-form-widget {
        // This is needed on mobile to make the search field stand out when clicking on the search button in the mobile toolbar
        position: relative;

        @include media-query( mobile ) {
            left: 50%;
            opacity: 0;
            padding: 0 var(--gap-lg) var(--gap-xl);
            position: fixed;
            top: 40vh;
            transform: translateX(-50%);
            transition: opacity 1s ease-out;
            width: 100%;
            z-index: 0;

            &.active {
                opacity: 1;
                z-index: 475;
            }
        }

        form {
            border: var(--border) var(--color-border);
            border-radius: var(--border-radius);
            display: flex;
            overflow: hidden; // otherwise the round corners look weird
            position: relative;

            #search-field {
                background-color: var(--color-bg-field);
                border: 0;
                color: var(--text-color);
                flex: 7;
                font-size: var(--font-size-sm);
                font-weight: 300;
                padding: var(--gap-sm);
                width: 100%;

                &:focus {
                    outline: none;
                }
            }
            #search-field::placeholder {
                color: var(--text-color-secondary);
            }
            #search-button {
                background-color: var(--color-bg-field);
                border: 0;
                cursor: pointer;
                flex: 1.4;

                &::before {
                    content: var(--icon-search);
                    filter: var(--color-svg);
                    position: absolute;
                    top: 10px;
                    width: 15px;
                }
            }
        }
        #live-results {
            background-color: var(--color-bg-field);
            border-bottom-left-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
            border-top: none;
            display: none;
            left: 0;
            margin-bottom: var(--gap-sm);
            margin-top: -5px;
            max-height: 290px;
            overflow-y: auto;
            position: relative;
            scrollbar-width: thin;
            scrollbar-color: var(--color-link) var(--color-bg-field);
            z-index: 100;

            li {
                font-size: var(--font-size-sm);

                &.active a {
                    color: var(--color-link);
                }

                a {
                    color: var(--text-color);

                    &:hover, &:focus {
                        color: var(--color-link);
                    }
                }
            }
        }
    }

    .widget {
        padding-top: var(--gap-lg);

        h2 {
            background: var(--color-border);
            border-top-left-radius: var(--border-radius);
            border-top-right-radius: var(--border-radius);
            font-size: var(--font-size-lg);
            margin: 0;
            padding: 5px var(--gap-sm);
        }
        ul {
            border-bottom: var(--border) var(--color-border);
            border-left: var(--border) var(--color-border);
            border-right: var(--border) var(--color-border);
            border-bottom-left-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
            list-style-type: none;
            overflow: hidden; // otherwise the round corners look weird
            padding-left: 0;
        }
        li {
            border-bottom: var(--border) var(--color-border);
            padding: var(--gap-sm);

            &:last-child {
                border-bottom: 0;
            }
            img {
                border-radius: var(--border-radius);
                float: right;
                margin: var(--gap-xs) 0 var(--gap-md) var(--gap-md);
            }
        }
        li.current-post {
            text-shadow: var(--drop-shadow);
        }
    }

    h3 {
        font-size: var(--font-size-md);
        line-height: 1.6rem;
        margin: 0;
    }
    p {
        font-size: var(--font-size-sm);
        margin: var(--gap-sm) 0 0;
        opacity: 85%;
    }
    a {
        text-decoration: none;
    }
}
